<ul>
    <li>Advertising:</li>
    <p class="list">Informing consumers about product to increase sales.</p>
    <li>Allocative Efficiency:</li>
    <p class="list">Benefit to society is maximised.</p>
    <li>Autonomous Consumption (a):</li>
    <p class="list">Amount person will spend when Y = 0.</p>
    <li>Average Cost:</li>
    <p class="list">Cost per unit at a given level of output.</p>
    <li>Complimentary Goods:</li>
    <p class="list">Good where price of one and demand for another are inversely related, e.g. printers & ink.</p>
    <li>Consumption (C):</li>
    <p class="list">Part of disposable Y spent on G/S.</p>
    <li>Consumption Function:</li>
    <p class="list">Equation of relationship between Y & C.</p>
    <li>Costs:</li>
    <p class="list">Payments made by firms to attract resources.</p>
    <li>Deseconomies of Scale:</li>
    <p class="list">Increases in LRAC from increase in scale of operations.</p>
    <li>Dissaving:</li>
    <p class="list">When C > Y, so S must be used.</p>
    <li>External Economies of Scale:</li>
    <p class="list">Benefits to a firm from external factors independant to the firm.</p>
    <li>Fixed Cost:</li>
    <p class="list">Does not change with output, e.g. factory, interest.</p>
    <li>Globalisation:</li>
    <p class="list">International nature of markets.</p>
    <li>Gross Income:</li>
    <p class="list">Total Y before deductions.</p>
    <li>Household Savings Ratio:</li>
    <p class="list">Ratio of S to Y.</p>
    <li>Industry:</li>
    <p class="list">Group of firms producing very similar products.</p>
    <li>Interest:</li>
    <p class="list">Price paid for borrowed money & K, % yield of money.</p>
    <li>Internal Economies of Scale:</li>
    <p class="list">Action by firm to reduce average costs, usually from specialisation.</p>
    <li>Life-cycle Hypothesis of Saving:</li>
    <p class="list">> Y leads to > S, same vice versa.</p>
    <li>Market:</li>
    <p class="list">Situation where buyers and sellers interact to exchange G/S.</p>
    <li>Net Income:</li>
    <p class="list">Gross Y - costs.</p>
    <li>Productive Capacity:</li>
    <p class="list">Total production possible when using all resources efficiently.</p>
    <li>Productive Efficiency:</li>
    <p class="list">Level of output is minimum average total cost.</p>
    <li>Profit:</li>
    <p class="list">Reward for entrepreneurship. Payment for uncertainty and risk.</p>
    <li>Rent:</li>
    <p class="list">Payment for use of land and natural resources.</p>
    <li>Satisficing:</li>
    <p class="list">The pursuit of a firm to meet a combination of it's objectives.</p>
    <li>Substitute Goods:</li>
    <p class="list">Demand for one good and price of another are directly related.</p>
    <li>Transfer Payments:</li>
    <p class="list">Payments form government to household</p>
    <li>Utility:</li>
    <p class="list">Level of satisfaction gained from consuming a product.</p>
    <li>Variable Cost:</li>
    <p class="list">Expenses of firms that change with output.</p>
    <li>Wages:</li>
    <p class="list">Price paid for labour.</p>
</ul>