<h1>Current</h1>
<ul>
    <li>Corporitisation:</li>
    <p class="list">Running a government enterprise like a private company.</p>
    <li>Cyclical Component of the Budget:</li>
    <p class="list">Changes of budget due to change in economic activity.</p>
    <li>Government Budget:</li>
    <p class="list">Plan for government expected expenses and revenue next fiscal year.</p>
    <li>Privatisation:</li>
    <p class="list">Selling off government businesses and assets to the private sector.</p>
    <li>Structural Component of the Budget:</li>
    <p class="list">Budget outcome if economy was at full employment. Distinct to changes due to cyclical effects.</p>
</ul>