<ul>
    <li>Cash Rate Corridor:</li>
    <p class="list">The ceiling and floor cash rates that lenders and buyers get exposed to, usually 0.25% above and 0.10% below respectively. Can be higher/lower depending on amount.</p>
    <a href="https://www.rba.gov.au/education/resources/explainers/how-rba-implements-monetary-policy.html" target="_blank"><img src="/assets/corridor.png" alt="cash rate corridor diagram"></a>
    <li>Cyclical Component of the Budget:</li>
    <p class="list">Changes of budget due to change in economic activity.</p>
    <li>Government Budget:</li>
    <p class="list">Plan for government expected expenses and revenue next fiscal year.</p>
    <li>Structural Component of the Budget:</li>
    <p class="list">Budget outcome if economy was at full employment. Distinct to changes due to cyclical effects.</p>
</ul>