<h1>Current</h1>
<ul>
    <li>Cash Rate Corridor:</li>
    <p class="list">The ceiling and floor of the cashrate that lenders and buyers get exposed to, usually 0.10% above and 0.25% below current cashrate respectively. Despite these being floors they can also go higher/lower changing how normal interest rates do based on risk.</p>
    <a href="https://www.rba.gov.au/education/resources/explainers/how-rba-implements-monetary-policy.html" target="_blank"><img src="/assets/corridor.png" alt="cash rate corridor diagram"></a>
    <li>Cyclical Component of the Budget:</li>
    <p class="list">Changes of budget due to change in economic activity.</p>
    <li>Government Budget:</li>
    <p class="list">Plan for government expected expenses and revenue next fiscal year.</p>
    <li>Structural Component of the Budget:</li>
    <p class="list">Budget outcome if economy was at full employment. Distinct to changes due to cyclical effects.</p>
</ul>