<h3>Financial Markets:</h3>
<ul>
    <li>Asset Demand:</li>
    <p class="list">Desire to purchase financial assets.</p>
    <li>Asset Prices:</li>
    <p class="list">Price of assets. e.g. gold, land, houses.</p>
    <li>Australian Prudential Regulation Authority (APRA):</li>
    <p class="list">Government authority for supervision of banks, life and general insurance, and super.</p>
    <li>Austrlian Securities and Investments Commission (ASIC):</li>
    <p class="list">Independant government body enforces Coporations Law and consumer protections law for investments, life and general insurance, super, and non-lending banking.</p>
    <li>Bank Bills:</li>
    <p class="list">Short-term credit arrangement. Designed to enable firms to obtain funds for commercial transactions.</p>
    <li>Bond Market:</li>
    <p class="list">Market for existing government securities</p>
    <li>Broad Money:</li>
    <p class="list">M3 plus all non-deposit borrowings from the private sector by all financial intermediaries (AFI).</p>
    <li>Cash Rate:</li>
    <p class="list">Equalibrium interest rate in money market.</p>
    <li>Central Bank:</li>
    <p class="list">Sole control over issue of money, advise and assist government on financial and monetary matters, implement officially determined monetary policy.</p>
    <li>Central Banking Authorities (CBAs):</li>
    <p class="list">Established by individual State/Territory governments to provide finance for public corporations and quasi-corporations.</p>
    <li>Commonwealth Government Security:</li>
    <p class="list">Issued to finance a budget deficit. Government agrees to pay the holder a fixed amount of money over a period of time.</p>
    <li>Credit:</li>
    <p class="list">Lending of money to another party.</p>
    <li>Currency:</li>
    <p class="list">Notes and coins in circulation in the economy.</p>
    <li>Debt:</li>
    <p class="list">Whatever is owed from one party to another.</p>
    <li>Debt Financing:</li>
    <p class="list">Borrowing money to raise funds, no loss of ownership.</p>
    <li>Equities Market:</li>
    <p class="list">Share market. Rights (shares) of partial ownership of companies bought/sold.</p>
    <li>Equity Financing:</li>
    <p class="list">Raising capital by selling shares to investors.</p>
    <li>Exchange Settlement Accounts (ESA):</li>
    <p class="list">Accounts held with RBA by banks (and other approved institutions).</p>
    <li>Financial Innovation:</li>
    <p class="list">Development of new financial products.</p>
    <li>Financial Intermediaries:</li>
    <p class="list">Takes money from households/firms to lend to other households/firms.</p>
    <li>Foreign Currency Swaps:</li>
    <p class="list">Exchange of cash for foreign currency. RBA does this to change money supply.</p>
    <li>Foreign Exchange Market (FOREX):</li>
    <p class="list">Market for currencies of different countries.</p>
    <li>Futures Market:</li>
    <p class="list">Agreements to buy/sell products later.</p>
    <li>Interest Rate Differential:</li>
    <p class="list">Difference between two interest rates.</p>
    <li>Liquidity:</li>
    <p class="list">Degree to speed of changing asset to cash.</p>
    <li>M1:</li>
    <p class="list">Currency plus bank current deposits from the private non-bank sector.</p>
    <li>M3:</li>
    <p class="list">M1 plus all other bank deposits from the private non-bank sector. Includes credit unions and building societies (CUBS) and deposit in specialist cred card institutions (SCCIs).</p>
    <li>Market Operations:</li>
    <p class="list">RBA activity in the money market.</p>
    <li>Non-bank Deposit Taking Institutions:</li>
    <p class="list">Non-banking groups with liabilities defined in RBA's definition of broad money.</p>
    <li>Pension Funds:</li>
    <p class="list">Retirement and superannuation funds.</p>
    <li>Primary Financial Market:</li>
    <p class="list">Market for intial transactions.</p>
    <li>Real Interest Rate:</li>
    <p class="list">Nominal interest rate adjusted for inflation.</p>
    <li>Repurchase Agreements:</li>
    <p class="list">Agreement between RBA and commercial banks that government securities will be bought and sold at specific time for a specific price.</p>
    <li>Reserve Bank of Australia (RBA):</li>
    <p class="list">Australia's central bank. Responsible for maintaing financial stabilit of economy</p>
    <li>Secondary Financial Market:</li>
    <p class="list">All subsequent transactions after initial transaction.</p>
    <li>Share Market:</li>
    <p class="list">Market for equities.</p>
    <li>Short Term Money Market:</li>
    <p class="list">Market in trading financial assets.</p>
    <li>Speculative Demand:</li>
    <p class="list">Desire to hold money for speculative purposes, such as to purpose shares.</p>
    <li>Swap Rate:</li>
    <p class="list">One party agrees to pay the other party a fixed interest rate in exchange for receiving the average cash rate recorded over the term of the swap.</p>
    <li>Transaction Demand:</li>
    <p class="list">Desire to hold money for short-term purchases. Function of money as a medium exchange.</p>
    <li>Treasury:</li>
    <p class="list">Handles how the government's money gets passed around used.</p>
</ul>