<h3>Government and the Economy:</h3>
<ul>
    <li>Absolute Poverty:</li>
    <p class="list">Not enough income to purchase a basket of G/S necessary for survival</p>
    <li>Accruel Aggregates:</li>
    <p class="list">Budgeting for total of all transactions that have been earned and incurred, but not necessarily payed yet.</p>
    <li>Anti-competitive Conduct:</li>
    <p class="list">Behviour that reduces level of competition in market.</p>
    <li>Austrlian Competition and Consumer Commission (ACCC):</li>
    <p class="list">Esnures individuals and firms comply with competition, fair trading, and consumer protection laws.</p>
    <li>Australian Constitution:</li>
    <p class="list">Rules of government for Australia.</p>
    <li>Automatic Stabilisers:</li>
    <p class="list">A mechanism that decreases the size of fluctuations in the level of spending in the economy.</p>
    <li>Average Rate of Tax:</li>
    <p class="list">Total tax paid divided by total income recieved.</p>
    <li>Budget Outcome:</li>
    <p class="list">Budget result, difference between government revenue and expenses.</p>
    <li>Capital Gains Tax:</li>
    <p class="list">Taxes levied on increases in value of capital asset.</p>
    <li>Competition and Consumer Act 2010:</li>
    <p class="list">Promotes competition, fair trading, and protection for consumers.</p>
    <li>Cyclical Component of the Budget:</li>
    <p class="list">Changes of budget due to change in economic activity.</p>
    <li>Deficit Budget:</li>
    <p class="list">Estimates expenses will be greater than revenue. Increase in public debt.</p>
    <li>Direct Benefits:</li>
    <p class="list">Government cash benefits and allowances.</p>
    <li>Direct Tax:</li>
    <p class="list">Levied on income of individuals and firms.</p>
    <li>Fiscal Balance:</li>
    <p class="list">Same definition as Budget Outcome.</p>
    <li>Fringe Benefits Tax:</li>
    <p class="list">A tax on businesses for payments, usually in kind, made to employees over and above wages and salaries.</p>
    <li>Goods and Services Tax:</li>
    <p class="list">A tax on all goods and services proportional to price.</p>
    <li>Government Budget:</li>
    <p class="list">Plan for government expected expenses and revenue next fiscal year.</p>
    <li>Government Business Enterprises:</li>
    <p class="list">Businesses owned by government (GTEs).</p>
    <li>Headline Cash Balance:</li>
    <p class="list">Actual change in size of government expenses and revenue.</p>
    <li>Impact of a Tax:</li>
    <p class="list">The point at which the tax is imposed (on manufacturer or consumer?).</p>
    <li>Incidence of a Tax:</li>
    <p class="list">Final resting place of a tax (who pays for it).</p>
    <li>Income Tax:</li>
    <p class="list">Tax on taxable income (gross income - deductions).</p>
    <li>Indirect Benefits:</li>
    <p class="list">Government non-cash benefits, e.g. educaiton.</p>
    <li>Marginal Tax Rate:</li>
    <p class="list">Extra tax paid due to change in income.</p>
    <li>Pressure Group:</li>
    <p class="list">Group who sets out to influence government policy.</p>
    <li>Public Sector:</li>
    <p class="list">Sector of economy owned and directly controlled by government.</p>
    <li>Regressive Tax:</li>
    <p class="list">Tax takes smaller proportion of income as income increases.</p>
    <li>Relative Poverty:</li>
    <p class="list">Proportion of average earnings (half of median income)</p>
    <li>Social Cost:</li>
    <p class="list">Costs that don't appear on account of firm.</p>
    <li>Structural Component of the Budget:</li>
    <p class="list">Budget outcome if economy was at full employment. Distinct to changes due to cyclical effects.</p>
    <li>Surplus Budget:</li>
    <p class="list">Excess revenue over government expenditure. Reduces public debt.</p>
    <li>Tax Efficiency:</li>
    <p class="list">Taxation system should not cause inefficient resource allocation.</p>
    <li>Tax Equity:</li>
    <p class="list">Horizontal: Equal income leads to equal tax; Vertical: Higher income leads to higher tax.</p>
    <li>Tax Threshold:</li>
    <p class="list">Starting point where tax is charged.</p>
    <li>Underlying Cash Balance:</li>
    <p class="list">Most accurate measure of the government's budget funding requirements in a particular year. Over the long term it will equal the fiscal balance.</p>
</ul>