<ul>
    <li>Business Cycle:</li>
    <p class="list">Cyclical business fluctuations (boom, trough, recession contraction).</p>
    <li>Capital Goods (K):</li>
    <p class="list">A good or service that produces another good or service.</p>
    <li>Circular Flow of Income:</li>
    <p class="list">Model that describes flow of money, good, & services between major sectors of the economy.</p>
    <li>Consumer Goods (C):</li>
    <p class="list">For consumers satisfaction.</p>
    <li>Consumer Sovereignty:</li>
    <p class="list">Consumer decides "what".</p>
    <li>Demand:</li>
    <p class="list">Quantity a consumer is willing to buy at a certain price. Only if definite plan to & able to purchase.</p>
    <li>Economic Growth:</li>
    <p class="list">Increase in nations output (measured in GDP).</p>
    <li>Enterprise:</li>
    <p class="list">Entrepreneur risk innovation.</p>
    <li>Exports (X):</li>
    <p class="list">Goods sold to other countries.</p>
    <li>Factors of Production:</li>
    <p class="list">The different resources used in production; Capital, labour, land, entrepreneurship.</p>
    <li>Fair Work Comission:</li>
    <p class="list">Manages industrial relations.</p>
    <li>Financial Sector:</li>
    <p class="list">Gets funds from savings & lend to firms for investment.</p>
    <li>Firms Sector:</li>
    <p class="list">Businesses who employ resources, produce & sell goods and services.</p>
    <li>Government Expenditure (G):</li>
    <p class="list">Money spent by government.</p>
    <li>Government Sector:</li>
    <p class="list">Raises money through T, spends through G.</p>
    <li>Gross Domestic Product (GDP):</li>
    <p class="list">Market value of all final goods and services. Y=C+I+G+(X-M)</p>
    <li>Gross National Income (GNI):</li>
    <p class="list">GDP + receipts from other counters - income payments to other nations.</p>
    <li>Household Sector:</li>
    <p class="list">Consumers, supply labour, purchase goods and services.</p>
    <li>Imports (M):</li>
    <p class="list">Produced overseas for our use.</p>
    <li>Industrial Relations:</li>
    <p class="list">Relationship between employees & employers.</p>
    <li>Injections (IGX):</li>
    <p class="list">I + G + X</p>
    <li>Investment:</li>
    <p class="list">Purchasing of capital.</p>
    <li>Labour (L):</li>
    <p class="list">Mental or mannual effort.</p>
    <li>Labour Force:</li>
    <p class="list">15+ people who are employed or unemployed.</p>
    <li>Land:</li>
    <p class="list">Natural resources used in production.</p>
    <li>Oppurtunity Cost:</li>
    <p class="list">Cost of alternative forgone.</p>
    <li>Overseas Sector:</li>
    <p class="list">Other economics that we export to or we import from.</p>
    <li>Production Possibility Frontier (Curve):</li>
    <p class="list">Model of maximum production.</p>
    <li>Productivity:</li>
    <p class="list">Quantity of output per worker</p>
    <li>Quality of Life:</li>
    <p class="list">Overall standard of living & wellbeing.</p>
    <li>Recession:</li>
    <p class="list">Two consecutive quarters of negative economic growth.</p>
    <li>Resources:</li>
    <p class="list">Anything that can be used for production.</p>
    <li>Savings (S):</li>
    <p class="list">Part of disposable Y not used for current consumption.</p>
    <li>Scarcity:</li>
    <p class="list">Shortage of something that is wanted.</p>
    <li>Taxation (T):</li>
    <p class="list">Main source of government Revenue.</p>
    <li>Technological Change:</li>
    <p class="list">New & improved products.</p>
    <li>Undermployemnet:</li>
    <p class="list">Desire additional hours of work.</p>
    <li>Wants:</li>
    <p class="list">Desires for goods and services that satisfy.</p>
    <li>Welfare:</li>
    <p class="list">Government repayment without providing something in return.</p>
    <li>Withdrawels (STM):</li>
    <p class="list">S + T + M</p>
</ul>