<ul>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
    <li>:</li>
    <p class="list"></p>
</ul>