<h3>Labour Market:</h3>
<ul>
    <li>Arbritration:</li>
    <p class="list">Formal dispute where two parties refer to an independant 3rd party for determination</p>
    <li>Award:</li>
    <p class="list">Minimum wages and working conditions.</p>
    <li>Casualisation of Work:</li>
    <p class="list">Employ increasing proportion of workforce as casual workers.</p>
    <li>Conciliation:</li>
    <p class="list">Process for working through problems between two parties using a 3rd party mediator to reach an agreement.</p>
    <li>Contractor:</li>
    <p class="list">Firm enters a contract at a fixed price.</p>
    <li>Corporitisation:</li>
    <p class="list">Running a government enterprise like a private company.</p>
    <li>Derived Demand:</li>
    <p class="list">Demand for productive resource.</p>
    <li>Employer Associations:</li>
    <p class="list">Represent employers and advance their interests.</p>
    <li>Employment to Working Age Population Ratio:</li>
    <p class="list">People employed as a percentage of working age population (15-64).</p>
    <li>Enterprise Bargaining:</li>
    <p class="list">Negotiation between employers and employees in terms of industrial relations.</p>
    <li>Fair Work Act:</li>
    <p class="list">Employment and industrial relations procedures of Australia.</p>
    <li>Human Capital:</li>
    <p class="list">Accumulation of skills, knowledge, and experience that an individual can use in production.</p>
    <li>Industrial Dispute:</li>
    <p class="list">Disput or disagreement that causes a stoppage of work.</p>
    <li>Industrial Action:</li>
    <p class="list">The settling of a dispute about working conditions.</p>
    <li>Non-wage Outcomes:</li>
    <p class="list">Benefits form working that are not related to wages.</p>
    <li>Outsourcing:</li>
    <p class="list">Giving tasks to another firm to do.</p>
    <li>Mobility of Labour:</li>
    <p class="list">Ease where labour can be moved from one geographic location to another.</p>
    <li>Participation Rate:</li>
    <p class="list">Percentage of working age population in labour force.</p>
    <li>Part-time Employment:</li>
    <p class="list">Individual works less than (normal week) 35 hours a week.</p>
    <li>Privatisation:</li>
    <p class="list">Selling off government businesses and assets to the private sector.</p>
    <li>Productivity of Labour:</li>
    <p class="list">Output per worker, or output per hour worked.</p>
    <li>Remuneration:</li>
    <p class="list">Payment for labour</p>
    <li>Reservation Wage:</li>
    <p class="list">Minimum wage individual is willing to work for.</p>
    <li>Strike:</li>
    <p class="list">A withdrawel of labour.</p>
    <li>Sub-contracting:</li>
    <p class="list">Contractor giving parts of their contracts to other contractors.</p>
    <li>Trade Union:</li>
    <p class="list">Body that represents workers in an industry for their benefit.</p>
    <li>Underemployment:</li>
    <p class="list">Workers that wish to work more hours.</p>
    <li>Underutilisation Rate:</li>
    <p class="list">Unemployment rate and underemployment rate added together.</p>
    <li>Unemployment:</li>
    <p class="list">In work force, not employed, actively seeking and available for work.</p>
</ul>