<h3>Markets:</h3>
<ul>
    <li>Ceiling Prices:</li>
    <p class="list">Maxximum price set by government Prevents profiteering.</p>
    <li>Competition:</li>
    <p class="list">Contest for command over scarce resources.</p>
    <li>Contraction of Demand:</li>
    <p class="list">Decrease in quantity demanded due to increase in price.</p>
    <li>Contraction of Supply:</li>
    <p class="list">Decrease in quantity supplied due to decrease in price</p>
    <li>Elastic:</li>
    <p class="list">Change in price brings more than proportional change in supply/demand.</p>
    <li>Elasticity:</li>
    <p class="list">Extent to which change in one variable brings a change in the other.</p>
    <li>Expansion/Extension of Demand:</li>
    <p class="list">Increase in quantity demanded due to decrease in price.</p>
    <li>Expansion/Extension of Supply:</li>
    <p class="list">Increase in quantity supplied due to increase in price.</p>
    <li>Externalities:</li>
    <p class="list">Costs or benefits caused by the activities of an industry which are not reflected in the price.</p>
    <li>Factor Market:</li>
    <p class="list">Market for factors of production, e.g. capital, labour.</p>
    <li>Floor Prices:</li>
    <p class="list">Minimum price set by government Provides min Y for suppliers.</p>
    <li>Inelastic Demand:</li>
    <p class="list">Change in price leads to less than proportional change in quantity demanded/supplied.</p>
    <li>Market Disequalibrium:</li>
    <p class="list">Quantity demanded does not equal quantity supplied at a particular price.</p>
    <li>Market Equalibrium:</li>
    <p class="list">Price where quantity demanded equals quantity supplied.</p>
    <li>Market Failure:</li>
    <p class="list">Inability of free market to reach allocative efficiency.</p>
    <li>Market Power:</li>
    <p class="list">The ability of a firm to behave persistently in a manner which was different from that of a firm facing the same demand and cost conditions but operating in different competitive markets.</p>
    <li>Market Research:</li>
    <p class="list">Systematic collection of data relating to consumer behaviour.</p>
    <li>Merit Goods:</li>
    <p class="list">Goods where government beleives consumers underestimate it's value.</p>
    <li>Monopolistic Competition:</li>
    <p class="list">Large number of smaller suppliers offer similar but not identical products.</p>
    <li>Monopoly:</li>
    <p class="list">Single firm is sole producer, no close substitute.</p>
    <li>Non-price Competition:</li>
    <p class="list">Actions taken to increase demand without lowering price.</p>
    <li>Oligopoly:</li>
    <p class="list">Few sellers of standardised product.</p>
    <li>Price Elasticity of Demand:</li>
    <p class="list">How a change in quantity demanded will affect total revenue.</p>
    <li>Price Mechanism:</li>
    <p class="list">Adjustments in prices determine equalibrium quantity.</p>
    <li>Price Wars:</li>
    <p class="list">Price cutting by competitors to increase market share.</p>
    <li>Product Differentiation:</li>
    <p class="list">Attempts to create differences between products of a similar nature.</p>
    <li>Public Goods:</li>
    <p class="list">Benefit shared (non-rivalrous), everyone can have (non-excludable).</p>
    <li>Pure/Perfect Competition:</li>
    <p class="list"><ol>
        <li>Large numer of buyers/sellers.</li>
        <li>No buyer/seller can infuence price by their actions alone.</li>
        <li>Homogeneous product.</li>
        <li>Freedom of entry/exit into market.</li>
    </ol></p>
    <li>Relative Price:</li>
    <p class="list">Ratio price of one good to another.</p>
    <li>Supply:</li>
    <p class="list">Quantity of G/S that sellers are prepared to place on market at a given price.</p>
    <li>Total Outlay Method:</li>
    <p class="list">Measurement of elasticity, using multiplying price and quantity.</p>
    <li>Unit Elasticity:</li>
    <p class="list">Change in price brings proportional change in quantity supplied/demanded.</p>
</ul>