<li>Winners:</li>
    <ul class="secondary">
        <li>Austrlian Products/Industry</li>
        <li>Environment</li>
        <li>First Home Buyers</li>
        <li>Student Debt Holders.</li>
        <li>Taxpayers</li>
        <li>Young and Old people</li>
    </ul>
    <li>Losers</li>
    <ul class="secondary">
        <li>Foreign Home Buyers</li>
        <li>Tax Revenue, mainly from Tabacco</li>
        <li>Temporary Migrants</li>
        <li>Tradies</li>
        <li>Welfare Recipients</li>
    </ul>