<h3>Previous Consumer/Labour:</h3>
<ul>
    <li>Average Weekly Earnings Seasonally Adjusted:</li>
    <p class="list">$1,510.90</p>
    <li>Consumer Price Index (inflation):</li>
    <p class="list">2.4%</p>
    <li>Employment Population Ratio:</li>
    <p class="list">64.2%</p>
    <li>Participation Rate:</li>
    <p class="list">67.0%</p>
    <li>Real unit labour costs:</li>
    <p class="list">2.6%</p>
    <li>Underemployment:</li>
    <p class="list">6.0%</p>
    <li>Underutilisation:</li>
    <p class="list">10.1%</p>
    <li>Unemployment:</li>
    <p class="list">4.3%</p>
</ul>